body{
	background-color: #0C0C1D;
	width: 100%;
	height: auto;
}
.boundary{
	margin-top: 50%;
	margin-left: 10%;
}
.boundary1{
	position: absolute;
	margin-left: 60px;
}
.boundary2{
	margin-left: 110px;
}
.boundary3{
	margin-top: -100px;
	margin-left: 350px;
}
.boundary4{
	margin-top: -100px;
	margin-left: 60px;
}
.boundary5{
	margin-top: -150px;
	margin-left: 60px;
}
.boundary6{
	margin-top: -100px;
	margin-left: 100px;
}
.boundary7{
	margin-top: -15px;
	margin-left: 215px;
}
.boundary8{
	margin-top: -35px;
	margin-left: 250px;
}
.boundary9{
	margin-top: -75px;
	margin-left: 300px;
}
.boundary10{
	margin-top: -75px;
	margin-left: 330px;
}
.boundary11{
	margin-top: -3px;
	margin-left: 395px;
}
.boundary12{
	margin-top: -35px;
	margin-left: 430px;
}
.boundary13{
	margin-top: -275px;
	margin-left: 450px;
}
.boundary14{
	margin-top: -275px;
	margin-left: 60px;
}
#start{
	position: absolute;
	z-index: 2;
	margin-top: 25%;
	margin-left: 14.5%;
}
